<h1>Static#home</h1>
<p>Find me in app/views/static/home.html.erb</p>

<h1>Connect Stripe</h1>
<%= link_to image_tag('https://stripe.com/img/about/logos/connect/blue.png'), user_stripe_connect_omniauth_authorize_path() %>
